.el-menu .el-switch .el-switch__action .el-icon {
  margin-right: 0px !important;
  color: #2c2c2c;
}

.el-main {
  padding: 0 !important;
}


.nopadding .el-input-group__append {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 8px;
}
